@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-weight: 450;
}

.container {
  display: flex;
  flex: 4;
  width: 77%;
  height: 75vh;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.left {
  flex: 2;
  background: #E0EBFF;
  text-align: center;
  padding: 20px;
}

.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left h3, .right h3 {
  font-size: 30px;
  margin: 30px 30px;
  font-weight: bold;
  text-shadow: 0 5px 3px gray;
}

.right {
  flex: 2;
  background: #9FC1FF;
  text-align: center;
  padding: 20px;
}

input[type=email], input[type=password] {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #9FC1FF;
}

input[type=password] {
  margin-top: 0;
}

input[type=email]:hover, input[type=password]:hover {
  background: #fff;
  outline: 2px solid gray;
}

.btn {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #5084E4;
  color: #fff;
  font-size: 16px;
  width: 75%;
  margin-top: 35px;
  padding: 10px;
}

.btn:hover {
  background: #001E56;
  cursor: pointer;
  transition: 0.4s;
}

.forget, a {
  margin-top: 17px;
  font-size: 15px;
}

.icon-img img {
  width: 30px;
  cursor: pointer;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5%;
}

.icon-2 p {
  font-size: 17px;
}

.icon-2 {
  margin-left: 12%;
}

.icon-2 h4 {
  margin-left: -12%;
}

.png img {
  width: 30px;
  display: flex;
}

.png {
  display: flex;
  border: 1px solid gray;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  width: 80%;
}

.container h4 {
  margin-top: -20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#choice {
  margin-top: 25px;
  margin-bottom: 40px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 77%;
  height: 75vh;
  margin-bottom: 100px;
  outline: 3px solid gray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

body h2 {
  text-align: center;
  margin: 40px;
  font-size: 26px;
  font-weight: bold;
  color: darkblue;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.span .fa-location-dot {
  font-size: 30px;
  color: rgb(212, 3, 3);
}

.background-foot {
  position: absolute;
  width: 100%;
  min-height: 240px;
  background-image: url(../../images/contact-image/rady.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(204, 204, 204, 0.8);
  min-height: 200px;
}

.foot-img img {
  width: 55%;
  margin-left: 100px;
  padding: 10px;
}

.about ul li {
  list-style-type: none;
  color: #000;
  margin-bottom: 7px;
  font-size: 14px;
}

.about ul li:hover {
  cursor: pointer;
  color: rgb(0, 0, 104);
}

.contact-us li:hover {
  text-decoration: underline;
}

.title p {
  font-size: 20px;
  margin-bottom: 17px;
}

.nav-bar-header {
  display: flex;
}
.nav-bar-header .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #113B89;
  width: 40%;
  padding: 19px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  position: absolute;
}
.nav-bar-header .left-nav .logo-header {
  width: 70px;
  height: 60px;
  margin-right: 20px;
}
.nav-bar-header .left-nav .h1 {
  color: #fff;
  padding: 20px;
}
.nav-bar-header .left-nav .title-name {
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  font-size: 32px;
}
.nav-bar-header .right-nav {
  width: 100%;
}
.nav-bar-header .right-nav .fisrt {
  height: 20px;
  display: flex;
  justify-content: right;
  background: #00205A;
  color: white;
  padding: 20px;
}
.nav-bar-header .right-nav .fisrt .text {
  margin-right: 180px;
  font-size: 17px;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-style: italic;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands {
  font-size: 30px;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands:hover {
  color: orangered;
}
.nav-bar-header .right-nav ul {
  display: flex;
  justify-content: right;
  background: #474747;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-bar-header .right-nav ul .active-link {
  background-color: #fff;
  color: darkblue;
  padding: 10px;
  text-shadow: 2px 0 3px gray;
}
.nav-bar-header .right-nav ul li {
  padding: 10px;
  list-style-type: none;
  margin-right: 50px;
}
.nav-bar-header .right-nav ul li .fa-magnifying-glass {
  background-color: rgb(49, 49, 224);
  position: absolute;
  font-size: 30px;
  margin-top: -10px;
  padding: 5px;
  margin-left: -25px;
}
.nav-bar-header .right-nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}/*# sourceMappingURL=contact.css.map */