@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bruno+Ace&family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");
.title {
  margin-right: 180px;
}
.title h3 {
  font-size: 21px;
}
.title p {
  padding-top: 15px;
}

footer {
  display: flex;
}
footer .group-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 50px 30px;
  background-color: rgba(26, 61, 125, 0.768627451);
  min-height: 200px;
  position: absolute;
}
footer .group-footer .foot-img img {
  width: 54%;
  margin-left: 40px;
  padding: 10px;
  padding-top: 30px;
}
footer .group-footer .about ul li {
  display: flex;
  list-style-type: none;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .group-footer .about ul li:hover {
  cursor: pointer;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
footer .group-footer .title p {
  font-size: 20px;
  margin-bottom: 20px;
}
footer .background-foot {
  width: 100%;
  min-height: 270px;
  background-image: url(../../images/foot.png);
  background-position: center;
  background-size: cover;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 450;
}

.container {
  display: flex;
  flex: 4;
  width: 77%;
  height: 75vh;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.left {
  flex: 2;
  background: #E0EBFF;
  text-align: center;
  padding: 20px;
}

.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left h3, .right h3 {
  font-size: 30px;
  margin: 30px 30px;
  font-weight: bold;
  text-shadow: 0 5px 3px gray;
}

.right {
  flex: 2;
  background: #9FC1FF;
  text-align: center;
  padding: 20px;
}

input[type=email], input[type=password] {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #9FC1FF;
}

input[type=password] {
  margin-top: 0;
}

input[type=email]:hover, input[type=password]:hover {
  background: #fff;
  outline: 2px solid gray;
}

.btn {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #5084E4;
  color: #fff;
  font-size: 16px;
  width: 75%;
  margin-top: 35px;
  padding: 10px;
}

.btn:hover {
  background: #001E56;
  cursor: pointer;
  transition: 0.4s;
}

.forget, a {
  margin-top: 17px;
  font-size: 15px;
}

.icon-img img {
  width: 30px;
  cursor: pointer;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5%;
}

.icon-2 p {
  font-size: 17px;
}

.icon-2 {
  margin-left: 12%;
}

.icon-2 h4 {
  margin-left: -12%;
}

.png img {
  width: 30px;
  display: flex;
}

.png {
  display: flex;
  border: 1px solid gray;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  width: 80%;
  cursor: pointer;
}

.png:hover {
  background: #001E56;
  color: #fff;
  transition: 0.4s;
}

.container h4 {
  margin-top: -20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#choice {
  margin-top: 25px;
  margin-bottom: 40px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 77%;
  height: 75vh;
  margin-bottom: 100px;
  outline: 3px solid gray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav .mobile {
  display: flex;
  align-items: center;
  background: #18283B;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  transition: all 0.3s ease;
}

#icon {
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#icon svg {
  margin-top: 40%;
  color: #FFF;
  height: 28px;
  transition: all 0.3s ease;
}

#checkbox,
#icon {
  display: none;
}

.footer-mobile {
  background: rgb(98, 199, 255);
  background: linear-gradient(90deg, rgb(98, 199, 255) 0%, rgb(0, 34, 163) 59%);
  padding: 15px;
}
.footer-mobile .copy-sign {
  text-align: center;
  padding: 15px;
}
.footer-mobile .foot-group-icon {
  text-align: center;
  font-size: 30px;
}
.footer-mobile .foot-group-icon .fa-google-plus, .footer-mobile .foot-group-icon .fa-facebook, .footer-mobile .foot-group-icon .fa-youtube, .footer-mobile .foot-group-icon .fa-square-x-twitter {
  padding: 15px;
}
.footer-mobile .foot-group-icon .fa-google-plus:hover, .footer-mobile .foot-group-icon .fa-facebook:hover, .footer-mobile .foot-group-icon .fa-youtube:hover, .footer-mobile .foot-group-icon .fa-square-x-twitter:hover {
  color: #fff;
}

body h2 {
  text-align: center;
  margin: 40px;
  font-size: 26px;
  font-weight: bold;
  color: darkblue;
}

.span .fa-location-dot {
  font-size: 30px;
  color: rgb(212, 3, 3);
}

.nav {
  display: none;
}

.footer-mobile {
  display: none;
}

.nav-bar-header {
  display: flex;
}
.nav-bar-header .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #113B89;
  width: 40%;
  padding: 20px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  position: absolute;
}
.nav-bar-header .left-nav .logo-header {
  width: 70px;
  height: 60px;
  margin-right: 20px;
}
.nav-bar-header .left-nav .h1 {
  color: #fff;
  padding: 20px;
}
.nav-bar-header .left-nav .title-name {
  font-weight: bold;
  font-size: 32px;
  text-shadow: 0 5px 5px #000;
  font-family: "Audiowide", sans-serif;
}
.nav-bar-header .right-nav {
  width: 100%;
}
.nav-bar-header .right-nav .fisrt {
  height: 20px;
  display: flex;
  justify-content: right;
  background: #00205A;
  color: white;
  padding: 20px;
}
.nav-bar-header .right-nav .fisrt .text {
  margin-right: 180px;
  font-size: 17px;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-style: italic;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands {
  font-size: 30px;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands:hover {
  color: skyblue;
}
.nav-bar-header .right-nav ul {
  display: flex;
  justify-content: right;
  background: #474747;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-bar-header .right-nav ul .active-link {
  background-color: #fff;
  color: darkblue;
  padding: 10px;
  text-shadow: 2px 0 3px gray;
}
.nav-bar-header .right-nav ul li {
  padding: 10px;
  list-style-type: none;
  margin-right: 50px;
}
.nav-bar-header .right-nav ul li .fa-magnifying-glass {
  background-color: rgb(49, 49, 224);
  position: absolute;
  font-size: 30px;
  margin-top: -10px;
  padding: 5px;
  margin-left: -25px;
}
.nav-bar-header .right-nav ul li {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
}
.nav-bar-header .right-nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: orangered;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-bar-header .right-nav ul li:hover::after {
  transform: scaleX(1);
}
.nav-bar-header .right-nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.container {
  display: flex;
  flex: 4;
  width: 77%;
  height: 75vh;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.left {
  flex: 2;
  background: #E0EBFF;
  text-align: center;
  padding: 20px;
}

.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.left h3, .right h3 {
  font-size: 30px;
  margin: 30px 30px;
  font-weight: bold;
  text-shadow: 0 5px 3px gray;
}

.right {
  flex: 2;
  background: #9FC1FF;
  text-align: center;
  padding: 20px;
}

input[type=email], input[type=password] {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #9FC1FF;
}

input[type=password] {
  margin-top: 0;
}

input[type=email]:hover, input[type=password]:hover {
  background: #fff;
  outline: 2px solid gray;
}

.btn {
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 3px gray;
  background: #5084E4;
  color: #fff;
  font-size: 16px;
  width: 75%;
  margin-top: 35px;
  padding: 10px;
}

.btn:hover {
  background: #001E56;
  cursor: pointer;
  transition: 0.4s;
}

.forget, a {
  margin-top: 17px;
  font-size: 15px;
}

.icon-img img {
  width: 30px;
  cursor: pointer;
}

.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5%;
}

.icon-2 p {
  font-size: 17px;
}

.icon-2 {
  margin-left: 12%;
}

.icon-2 h4 {
  margin-left: -12%;
}

.png img {
  width: 30px;
  display: flex;
}

.png {
  display: flex;
  border: 1px solid gray;
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  width: 80%;
  cursor: pointer;
}

.png:hover {
  background: #001E56;
  color: #fff;
  transition: 0.4s;
}

.container h4 {
  margin-top: -20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#choice {
  margin-top: 25px;
  margin-bottom: 40px;
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 77%;
  height: 75vh;
  margin-bottom: 100px;
  outline: 3px solid gray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-about {
    display: none;
  }
  .nav-2 {
    display: none;
  }
  .container {
    display: flex;
    flex: 6;
    width: 77%;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: 53vh;
  }
  .left {
    flex: 4;
  }
  .left h3, .right h3 {
    font-size: 30px;
    margin: 30px 30px;
    font-weight: bold;
    text-shadow: 0 5px 3px gray;
    font-size: 20px;
    margin-bottom: 18px;
  }
  .right {
    flex: 2;
    background: #9FC1FF;
    text-align: center;
    padding: 20px;
  }
  input[type=email], input[type=password] {
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 12px;
    font-size: 14px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 3px gray;
    background: #9FC1FF;
    width: 90%;
  }
  .btn {
    width: 50%;
  }
  .forget, a {
    margin-top: 17px;
    font-size: 15px;
  }
  .icon-img img {
    width: 35px;
    cursor: pointer;
  }
  .png img {
    width: 35px;
    display: flex;
    cursor: pointer;
  }
  .png {
    margin: 20px 0 0 -20px;
    width: 100%;
  }
  .png p {
    border: none;
  }
  .png p .verify {
    display: none;
  }
  .container h4 {
    font-size: 15px;
    margin-top: 20px;
  }
  #choice {
    display: none;
  }
  iframe {
    height: 50vh;
  }
  footer {
    width: 100%;
  }
  footer .group-footer {
    width: 93.99%;
  }
  footer .group-footer .foot-img img {
    opacity: 0;
  }
  footer .group-footer .about ul li {
    margin-bottom: 10px;
    margin-left: -70px;
  }
  footer .group-footer .about {
    margin-right: -40px;
  }
  footer .background-foot {
    width: 100%;
    background-image: url(../../images/foot.png);
    background-size: cover;
  }
  .nav-bar-header {
    display: flex;
  }
  .nav-bar-header .left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    padding: 15.5px;
  }
  .nav-bar-header .left-nav .logo-header {
    width: 80px;
    height: 70px;
  }
  .nav-bar-header .left-nav .title-name {
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 2px;
  }
  .nav-bar-header .right-nav .fisrt .text {
    margin-right: 60px;
  }
  .nav-bar-header .right-nav ul li {
    margin-right: 15px;
  }
  .nav-bar-header .right-nav ul a {
    font-size: 17px;
  }
  .footer-mobile {
    display: none;
  }
  .nav {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  nav .mobile {
    display: flex;
    align-items: center;
    background: #18283B;
  }
  ul {
    list-style: none;
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
  }
  #icon {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #icon svg {
    margin-top: 40%;
    color: #FFF;
    height: 28px;
    transition: all 0.3s ease;
  }
  #checkbox,
  #icon {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav {
    padding: 10px;
    display: flex;
    background: rgb(98, 199, 255);
    background: linear-gradient(90deg, rgb(98, 199, 255) 0%, rgb(0, 34, 163) 59%);
  }
  .nav .navlogo2 {
    width: 15%;
    margin: 2%;
    margin-left: 20px;
  }
  .nav h1 {
    font-size: 23px;
    margin: 20px 0 0 10px;
    color: white;
    font-family: "Audiowide", serif;
  }
  ul {
    top: 20px;
    position: absolute;
    width: 100%;
    height: calc(110vh - 71px);
    background-color: #18283B;
    left: 0;
    text-align: center;
    display: none;
    margin-top: 15%;
  }
  ul li {
    display: block;
    padding: 40px 20px;
  }
  ul li a {
    display: block;
    padding: 10px 0;
    color: white;
  }
  #icon {
    display: block;
    margin: 0px 0 0 20px;
  }
  #checkbox:checked ~ ul {
    display: block;
  }
  footer {
    display: none;
  }
  .group-footer {
    width: 87%;
    height: 20%;
  }
  .group-footer .foot-img {
    opacity: 0;
  }
  .background-foot {
    display: none;
  }
  .nav-bar-header {
    display: none;
  }
  .container {
    flex: 2;
    width: 90%;
    flex-wrap: wrap;
    display: inline;
  }
  .left {
    flex: 2;
    width: 85%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    margin: 0 auto;
  }
  .right {
    flex: 2;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top: 5px solid #001E56;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 85%;
    margin: 0 auto;
  }
  .left h3, .right h3 {
    font-size: 30px;
    margin: 30px 30px;
    font-weight: bold;
    text-shadow: 0 5px 3px gray;
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: -1px;
  }
  input[type=email], input[type=password] {
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 12px;
    font-size: 14px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 3px gray;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    margin-bottom: -0.1px;
  }
  .btn {
    width: 50%;
  }
  .forget, a {
    margin-top: 17px;
    font-size: 15px;
  }
  .icon-img img {
    width: 35px;
    cursor: pointer;
  }
  .png img {
    width: 35px;
    display: flex;
    cursor: pointer;
  }
  .png {
    margin-top: 15px;
    width: 90%;
    margin-left: -3%;
  }
  .container h4 {
    font-size: 15px;
    margin-top: 23px;
  }
  #choice {
    display: none;
  }
  iframe {
    height: 60vh;
    width: 88%;
  }
  .footer-mobile {
    display: block;
    height: 11.5vh;
  }
}/*# sourceMappingURL=contact.css.map */