<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
=======
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap");
>>>>>>> d4b7bb07ee84adb7cd9966f1d3917117df226f45
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.nav-bar-header {
  display: flex;
}
.nav-bar-header .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #113B89;
  width: 40%;
  padding: 19px;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  position: absolute;
}
.nav-bar-header .left-nav .logo-header {
  width: 70px;
  height: 60px;
  margin-right: 20px;
}
.nav-bar-header .left-nav .h1 {
  color: #fff;
  padding: 20px;
}
.nav-bar-header .left-nav .title-name {
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
  font-size: 32px;
}
.nav-bar-header .right-nav {
  width: 100%;
}
.nav-bar-header .right-nav .fisrt {
  height: 20px;
  display: flex;
  justify-content: right;
  background: #00205A;
  color: white;
  padding: 20px;
}
.nav-bar-header .right-nav .fisrt .text {
  margin-right: 180px;
  font-size: 17px;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-style: italic;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands {
  font-size: 30px;
}
.nav-bar-header .right-nav .fisrt .text .fa-brands:hover {
  color: orangered;
}
.nav-bar-header .right-nav ul {
  display: flex;
  justify-content: right;
  background: #474747;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-bar-header .right-nav ul .active-link {
  background-color: #fff;
  color: darkblue;
  padding: 10px;
  text-shadow: 2px 0 3px gray;
}
.nav-bar-header .right-nav ul li {
  padding: 10px;
  list-style-type: none;
  margin-right: 50px;
}
.nav-bar-header .right-nav ul li .fa-magnifying-glass {
  background-color: rgb(49, 49, 224);
  position: absolute;
  font-size: 30px;
  margin-top: -10px;
  padding: 5px;
  margin-left: -25px;
}
.nav-bar-header .right-nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.container-training {
  padding-top: 5%;
  padding-bottom: 5%;
}

.card1 {
  border: 1px solid;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.card1 img {
  width: 90%;
  margin-left: 15%;
  height: 60vh;
  border-radius: 15px;
}

.card1 {
  display: flex;
  color: #5084E4;
}
.card1 .infomation {
  margin-left: 8%;
}
.card1 h4 {
  font-size: 32px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card1 h2 {
  margin-bottom: 5%;
  margin-left: 10%;
  font-size: 45px;
  letter-spacing: 4px;
}
.card1 p {
  margin-bottom: 10%;
  margin-left: 10%;
  font-style: 20px;
  color: #001E56;
}
.card1 .join {
  margin-left: 10%;
  border: none;
  background-color: #5084E4;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 10px;
}
.card1 .fa-arrow-right {
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  color: #5084E4;
  background-color: white;
}

.card2 {
  border: 1px solid;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.card2 img {
  width: 90%;
  margin-left: 40%;
  height: 60vh;
  border-radius: 15px;
}

.card2 {
  display: flex;
  color: #5084E4;
}
.card2 h4 {
  font-size: 32px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.card2 h2 {
  margin-bottom: 5%;
  margin-left: 10%;
  font-size: 45px;
  letter-spacing: 4px;
}
.card2 p {
  margin-bottom: 10%;
  margin-left: 10%;
  font-style: 20px;
  color: #001E56;
}
.card2 .join {
  margin-left: 10%;
  border: none;
  background-color: #5084E4;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 10px;
}
.card2 .fa-arrow-right {
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  color: #5084E4;
  background-color: white;
}

.title {
  margin-right: 180px;
}
.title h3 {
  font-size: 21px;
}
.title p {
  padding-top: 15px;
}

footer {
  display: flex;
}
footer .group-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 50px 30px;
  background-color: rgba(26, 61, 125, 0.768627451);
  min-height: 200px;
  position: absolute;
}
footer .group-footer .foot-img img {
  width: 60%;
  margin-left: 40px;
  padding: 10px;
}
footer .group-footer .about ul li {
  list-style-type: none;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}
footer .group-footer .about ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
footer .group-footer .contact-us li:hover {
  text-decoration: underline;
}
footer .group-footer .title p {
  font-size: 20px;
  margin-bottom: 20px;
}
footer .background-foot {
  width: 100%;
  min-height: 270px;
  background-image: url(../../images/foot.png);
  background-position: center;
}/*# sourceMappingURL=training.css.map */