
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');
*{
    font-family: "Inter", sans-serif;
    font-weight: 450;
}
@import"../sass/components/variable";
@import"../sass/components/sign_in";
body h2{
    text-align: center;
    margin: 40px;
    font-size: 26px;
    font-weight: bold;
    color: darkblue;
}
.span{
    @include display();
    .fa-map-location-dot{
        font-size: 30px;
        color:rgb(212, 3, 3);
    }
}
@import"../sass/components/footer";
@import"../sass/components/header";