// <!-- Nav bar page-->//
@import "./components/_header";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 450;
}

// <!-- Nav bar page-->//
// <!-- container page -->//
.header-page {
    display: flex;

    .imag {
        width: 100%;

        .image-header {
            width: 100%;
            height: 580px;
        }
    }

    .text-header {
        text-align: center;
        background: #0d2f69c0;
        position: absolute;
        width: 100%;
        margin-top: 281px;
        padding: 20px 0 20px;

        h1 {
            color: #fff;
            font-size: 80px;
            font-weight: bold;
        }

        h2 {
            color: #FFC107;
            font-size: 50px;
            font-weight: bold;
        }

        p {
            color: #fff;
            padding: 10px;
        }

        .btn-left {
            padding: 12px;
            width: 150px;
            background: fixed;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            border: 1.5px solid #fff;
            color: #fff;
            margin-right: 10px;
            transition: 400ms;

        }

        .btn-left:hover {
            transform: scaleX(1.03);
            text-decoration: underline;
        }

        .btn-right {
            border: 1.5px solid #fff;
            color: #fff;
            background: fixed;
            padding: 12px;
            width: 150px;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            transition: 400ms;
        }

        .btn-right:hover {
            transform: scaleX(1.03);
            text-decoration: underline;
        }

    }
}

.container-page {
    padding: 40px;
    margin-top: 20px;

    h1 {
        text-align: center;
        padding: 10px;
        font-weight: bold;
        color: #174395;
    }

    p {
        text-align: center;
        padding: 0px 30px 30px 30px;
        color: #174395;
    }


    .our-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 2.5fr;
        grid-template-areas:
            'header header main main'
            'header header menu right'
            'footer footer footer footer';
        height: 130vh;

    }

    .our-gallery div {
        padding: 20px;
        text-align: center;

    }

    .header {
        grid-area: header;
        background-image: url(../images/imag-home-1.png);
        background-position: center;
        background-size: 700px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;

    }

    .header:hover {
        transform: scale(1.03);
    }


    .menu {
        grid-area: menu;
        background-image: url(../images/imag-home-2.png);
        background-position: bottom;
        background-size: 310px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;

    }

    .menu:hover {
        transform: scale(1.03);
    }

    .main {
        grid-area: main;
        background-image: url(../images/imag-home-3.png);
        background-position: center;
        border-radius: 10px;
        background-size: 600px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .main:hover {
        transform: scale(1.03);
    }

    .right {
        grid-area: right;
        background-image: url(../images/imag-home-4.png);
        background-position: center;
        border-radius: 10px;
        background-size: 310px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .right:hover {
        transform: scale(1.03);
    }

    .footer {
        grid-area: footer;
        background-image: url(../images/imag-home-5.png);
        background-position: center;
        background-size: 1300px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .footer:hover {
        transform: scale(1.03);
    }
}

.footer-page-home {
    padding: 10px 40px 40px 40px;
    margin-top: 20px;

    h1 {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        color: #174395;
    }

    .join-team-home {
        display: flex;

        h1 {
            padding: 20px;
            font-weight: bold;
            color: #174395;
        }

        .text {
            padding: 10px;
            margin-top: 80px;
            width: 100%;
            height: 350px;
            background: #ECE8FF;
            border-radius: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            h2 {
                padding: 40px 30px 20px 30px;
                font-weight: bold;
                color: #174395;

                span {
                    font-weight: bold;
                    color: #d4a106;
                }

            }

            p {
                padding: 0px 30px 30px 30px;
                font-size: 17px;
                color: #174395;

                span {
                    padding: 10px;
                    background: #5084E4;
                    width: 150px;
                    border-radius: 8px;
                    color: #fff;
                    margin-left: 30px;

                }
            }

            button {
                padding: 15px;
                background: #174395;
                width: 200px;
                font-size: 22px;
                border-radius: 9px;
                color: #fff;
                border: none;
                position: absolute;
                margin-top: -40px;
                margin-left: 50px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: 400ms;
            }

            button:hover {
                transform: scale(1.03);
                text-decoration: underline;

            }

            .right-card {
                margin-top: 80px;
                width: 45%;
                height: 370px;
                background: #174395;
                position: absolute;
                margin-top: -262px;
                margin-left: 604px;
                clip-path: polygon(37% 0, 100% 0%, 100% 100%, 0% 100%);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }


        .image-footer-home {
            img {
                position: absolute;
                width: 450px;
                height: 450px;
                margin-left: -700px;
                margin-top: 0px;
            }

        }
    }


}



// <!-- container page -->//
// <!-- footer page-->//
@import "./components/_title";
@import "../sass/components/footer";
// <!-- footer page -->//