// <!-- Nav bar page-->//
@import "./components/_header";
@import "./components/variable";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-weight: 450;
}

@media (min-width:768px) and (max-width:1024px) {

    .nav-bar-header {
        .left-nav {
            @include display();
            width: 40%;
            padding: 15px;
            clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);

            .logo-header {
                width: 50px;
                height: 40px;
                margin-right: 20px;
            }

            .h1 {
                padding: 10px;
            }
        }

        .right-nav {
            width: 100%;

            .fisrt {
                height: 13.5px;
                padding: 10px;

                .text {
                    margin-right: 180px;
                    font-size: 13px;
                    gap: 1rem;
                    font-style: italic;

                    .fa-brands {
                        font-size: 25px;
                    }

                    .fa-brands:hover {
                        color: orangered;
                    }

                }

            }

            ul {
                .active-link {
                    padding: 5px;
                }

                li {
                    padding: 8px;
                    margin-right: 20px;

                    .fa-magnifying-glass {
                        font-size: 20px;
                        margin-top: -8px;
                        padding: 8px;
                        margin-left: -25px;
                    }
                }

                a {
                    font-size: 15px;
                }

            }
        }
    }
}


// <!-- Nav bar page-->//
// <!-- container page -->//
.header-page {
    display: flex;

    .imag {
        width: 100%;

        .image-header {
            width: 100%;
            height: 100%;
        }
    }

    .text-header {
        text-align: center;
        background: linear-gradient(0deg, rgba(13, 46, 105, 1) 18%, rgba(13, 46, 105, 0.5664390756302521) 68%, rgba(23, 103, 255, 0) 100%);
        position: absolute;
        width: 100%;
        margin-top: 20%;
        padding: 20px 0 20px;

        h1 {
            color: $text-color-white;
            font-size: 80px;
            font-weight: bold;
        }

        h2 {
            color: $text-color-header-home ;
            font-size: 50px;
            font-weight: bold;
        }

        p {
            color: #fff;
            padding: 10px;
        }

        .btn-left {
            padding: 12px;
            width: 150px;
            background: fixed;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            border: 1.5px solid #fff;
            color: $text-color-white;
            margin-right: 10px;
            transition: 400ms;

        }

        .btn-left:hover {
            transform: scaleX(1.03);
            text-decoration: underline;
        }

        .btn-right {
            border: 1.5px solid #fff;
            color: $text-color-white;
            background: fixed;
            padding: 12px;
            width: 150px;
            border-top-left-radius: 12px;
            border-bottom-right-radius: 12px;
            transition: 400ms;
        }

        .btn-right:hover {
            transform: scaleX(1.03);
            text-decoration: underline;
        }

    }
}

.container-page {
    padding: 40px;
    margin-top: 20px;

    h1 {
        text-align: center;
        padding: 10px;
        font-weight: bold;
        color: $text-color-container-home;
    }

    p {
        text-align: center;
        padding: 0px 30px 30px 30px;
        color: $text-color-container-home;
    }


    .our-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
        grid-template-rows: 2fr 1.5fr 2.5fr;
        grid-template-areas:
            'header header main main'
            'header header menu right'
            'footer footer footer footer';
        height: 130vh;

    }

    .our-gallery div {
        padding: 20px;
        text-align: center;

    }

    .header {
        grid-area: header;
        background-image: url(../images/imag-home-1.png);
        background-position: center;
        background-size: 100%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;

    }

    .header:hover {
        transform: scale(1.03);
    }


    .menu {
        grid-area: menu;
        background-image: url(../images/imag-home-2.png);
        background-position: center;
        background-size: 100%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;

    }

    .menu:hover {
        transform: scale(1.03);
    }

    .main {
        grid-area: main;
        background-image: url(../images/imag-home-3.png);
        background-position: center;
        border-radius: 10px;
        background-size: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .main:hover {
        transform: scale(1.03);
    }

    .right {
        grid-area: right;
        background-image: url(../images/imag-home-4.png);
        background-position: center;
        border-radius: 10px;
        background-size: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .right:hover {
        transform: scale(1.03);
    }

    .footer {
        grid-area: footer;
        background-image: url(../images/imag-home-5.png);
        background-position: center;
        background-size: 100%;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: 400ms;
    }

    .footer:hover {
        transform: scale(1.03);
    }
}

.footer-page-home {
    padding: 10px 40px 40px 40px;
    margin-top: 20px;

    h1 {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        color: $text-color-container-home;
    }

    .join-team-home {
        display: flex;

        h1 {
            padding: 20px;
            font-weight: bold;
            color: $text-color-container-home;
        }

        .text {
            padding: 30px;
            margin-top: 80px;
            width: 100%;
            height: 40%;
            background: #ECE8FF;
            border-radius: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            h2 {
                padding: 40px 30px 20px 30px;
                font-weight: bold;
                color: $text-color-container-home;

                span {
                    font-weight: bold;
                    color: $text-color-header-home;
                }

            }

            p {
                padding: 0px 30px 30px 30px;
                font-size: 17px;
                color: $text-color-container-home;

                span {
                    padding: 10px;
                    background: #5084E4;
                    width: 15%;
                    border-radius: 8px;
                    color: $text-color-white;
                    margin-left: 30px;


                }
            }

            .btn-top {
                padding: 15px;
                background: $text-color-container-home;
                width: 18%;
                font-size: 22px;
                border-radius: 9px;
                color: $text-color-white;
                border: none;
                position: absolute;
                margin-top: -60px;
                margin-left: 50px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                transition: 400ms;
            }

            .btn-top:hover {
                transform: scale(1.03);
                text-decoration: underline;

            }

            .btn-join {
                margin-left: 28px;
                border: none;
                background-color: #5084E4;
                padding: 7px;
                color: $text-color-white;
                border-radius: 8px;
                transition: 400ms;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .fa-arrow-right {
                    border: 1px solid;
                    padding: 5px;
                    border-radius: 50%;
                    color: $login-bg;
                    background-color: $text-color-white;
                }
            }


            .btn-join:hover {
                transform: scale(1.03);
                text-decoration: underline;
            }

            .right-card {
                margin-top: 80px;
                width: 45%;
                height: 68.5%;
                background: radial-gradient(circle, rgba(23, 67, 149, 1) 0%, rgba(80, 132, 228, 1) 0%, rgba(23, 67, 149, 1) 54%);
                position: absolute;
                margin-top: -25.5%;
                margin-left: 46.4%;
                clip-path: polygon(37% 0, 100% 0%, 100% 100%, 0% 100%);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }


        .image-footer-home {
            img {
                position: absolute;
                width: 450px;
                height: 450px;
                margin-left: -700px;
                margin-top: 0px;
            }

        }
    }


}

// <!-- container page -->//
// <!-- footer page-->//
@import "./components/_title";
@import "../sass/components/footer";
@media (min-width:768px) and (max-width:1024px) {
    footer {
        width: 100%;

        .group-footer {
            min-height: 40%;
            padding: 20px 0px 35px 0px;
            width: 100%;


            .foot-img img {
                text-decoration: none;
                opacity: 0;
            }

            .about ul li {
                list-style-type: none;
                color: #fff;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .title p {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }

        .background-foot {
            min-height: 230px;
            min-width: 100%;
        }

    }
}

// @media (min-width:320px) and (max-width:767px) {
//     footer {
//         .group-footer {
//             min-height: 160px;

//             .foot-img img {
//                 text-decoration: none;
//                 opacity: 0;
//             }


//             .about ul li {
//                 list-style-type: none;
//                 color: #fff;
//                 margin-bottom: 10px;
//                 font-size: 14px;
//             }

//             .title p {
//                 font-size: 18px;
//                 margin-bottom: 15px;
//             }
//         }

//         .background-foot {
//             min-height: 230px;
//             min-width: 100%;
//         }

//     }
// }

// <!-- footer page -->//


@media (min-width:768px) and (max-width:1024px) {

    .header-page {
        .imag {
            .image-header {
                height: 100%;
                background-size: cover;
                width: 100%;
            }
        }

        .text-header {
            margin-top: 22%;
            padding: 10px 0 10px;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 25px;
            }

            p {
                padding: 10px;
            }

            .btn-left {
                padding: 10px;
                width: 150px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                border: 1px solid #fff;
            }

            .btn-right {
                border: 1px solid #fff;
                padding: 10px;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .container-page {
        padding: 30px;
        margin-top: 5px;

        h1 {
            padding: 5px;
        }

        p {
            padding: 0px 15px 15px 15px;
        }


        .our-gallery {
            gap: 15px;
            grid-template-columns: 1.5fr 1.5fr;
            grid-template-rows: 1.5fr 1.5fr 1.5fr;
            grid-template-areas:
                'header main'
                'menu right'
                'footer footer';
        }

        .our-gallery div {
            padding: 10px;
        }

        .header {
            background-position: center;
            background-size: 100%;
            border-radius: 7.5px;
            object-fit: cover;

        }


        .menu {
            background-position: bottom;
            border-radius: 7.5px;
            background-size: 100%;
            object-fit: cover;

        }

        .main {
            background-position: center;
            border-radius: 7.5px;
            background-size: 100%;
            object-fit: cover;
        }

        .right {
            background-position: center;
            border-radius: 7.5px;
            background-size: 100%;
            object-fit: cover;
        }

        .footer {
            background-position: center;
            background-size: 100%;
            border-radius: 7.5px;
            object-fit: cover;


        }
    }

    .footer-page-home {
        padding: 8px 30px 30px 30px;
        margin-top: 10px;

        h1 {
            padding: 8px;
        }

        .join-team-home {
            h1 {
                padding: 10px;
            }

            .text {
                padding: 10px;
                margin-top: 40px;
                height: 250px;
                border-radius: 8px;

                h2 {
                    padding: 20px 15px 10px 15px;
                    font-size: 20px;
                }

                p {
                    padding: 0px 15px 15px 15px;
                    font-size: 15px;

                    span {
                        padding: 8px;
                        width: 150px;
                        border-radius: 8px;
                        margin-left: 15px;

                    }
                }

                .btn-top {
                    padding: 10px;
                    width: 15%px;
                    font-size: 20px;
                    border-radius: 7px;
                    margin-top: -33px;
                    margin-left: 50px;
                }

                .btn-join {
                    margin-left: 15px;
                    padding: 7px;
                    border-radius: 7px;

                    .fa-arrow-right {
                        padding: 4px;
                        border-radius: 50%;
                    }
                }

                .right-card {
                    width: 45%;
                    height:61%;
                    margin-top: -230px;
                    margin-left: 48%;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }


            .image-footer-home {
                img {
                    width: 320px;
                    height: 330px;
                    margin-left: -50%;
                    margin-top: -10px;
                }

            }
        }
    }
}

// @media (min-width:320px) and (max-width:767px) {

//     .header-page {
//         .imag {
//             .image-header {
//                 height: 150px;
//             }
//         }

//         .text-header {
//             margin-top: 120px;
//             padding: 10px 0 10px;

//             h1 {
//                 font-size: 25px;
//             }

//             h2 {
//                 font-size: 19px;
//             }

//             p {
//                 padding: 8px;
//             }

//             .btn-left {
//                 font-size: 10px;
//                 padding: 10px;
//                 width: 100px;
//                 border-top-right-radius: 7px;
//                 border-bottom-left-radius: 7px;
//                 border: 1px solid #fff;
//             }



//             .btn-right {
//                 border: 1px solid #fff;
//                 padding: 10px;
//                 border-top-left-radius: 10px;
//                 border-bottom-right-radius: 10px;
//             }
//         }
//     }

//     .container-page {
//         padding: 30px;
//         margin-top: 5px;

//         h1 {
//             padding: 5px;
//         }

//         p {
//             padding: 0px 15px 15px 15px;
//         }


//         .our-gallery {
//             gap: 10px;
//             grid-template-columns: 1.5fr 1.5fr;
//             grid-template-rows: 1.5fr 1.5fr 1.5fr;
//             grid-template-areas:
//                 'header main'
//                 'menu right'
//                 'footer footer';
//             height: 40vh;

//         }

//         .our-gallery div {
//             padding: 10px;
//         }

//         .header {
//             background-position: center;
//             background-size: 350px;
//             border-radius: 7.5px;
//         }


//         .menu {
//             background-position: bottom;
//             border-radius: 7.5px;
//             background-size: 300px;
//         }

//         .main {
//             background-position: center;
//             border-radius: 7.5px;
//             background-size: 350px;
//         }

//         .right {
//             background-position: center;
//             border-radius: 7.5px;
//             background-size: 350px;
//         }

//         .footer {
//             background-position: center;
//             background-size: 650px;
//             border-radius: 7.5px;

//         }
//     }

//     .footer-page-home {
//         padding: 8px 30px 30px 30px;
//         margin-top: 10px;

//         h1 {
//             padding: 8px;
//         }

//         .join-team-home {
//             h1 {
//                 padding: 10px;
//             }

//             .text {
//                 padding: 10px;
//                 margin-top: 40px;
//                 height: 200px;
//                 border-radius: 8px;

//                 h2 {
//                     padding: 20px 15px 10px 15px;
//                     font-size: 15px;
//                 }

//                 p {
//                     padding: 0px 15px 15px 15px;
//                     font-size: 9px;

//                     span {
//                         padding: 8px;
//                         width: 150px;
//                         border-radius: 8px;
//                         margin-left: 15px;

//                     }
//                 }

//                 .btn-top {
//                     padding: 10px;
//                     width: 150px;
//                     font-size: 17px;
//                     border-radius: 7px;
//                     margin-top: -33px;
//                     margin-left: 30px;
//                 }

//                 .btn-join {
//                     margin-left: 15px;
//                     padding: 7px;
//                     border-radius: 7px;

//                     .fa-arrow-right {
//                         border: 1px solid #fff;
//                         padding: 4px;
//                         border-radius: 50%;
//                     }
//                 }

//                 .right-card {
//                     width: 45%;
//                     height: 223px;
//                     margin-top: -175px;
//                     margin-left: 328px;
//                     border-top-right-radius: 10px;
//                     border-bottom-right-radius: 10px;
//                 }
//             }


//             .image-footer-home {
//                 img {
//                     width: 250px;
//                     height: 250px;
//                     margin-left: -400px;
//                 }

//             }
//         }
//     }
// }