@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}
@import "./components/header";
@import "./components/card";
@import "./components/_title";
@import "./components/footer";
@import "./components/shcedule";
@import "./components/variable";
@media (min-width:768px) and (max-width:1024px){
    .card1{
      .image img{
        margin-left: 10%;
        width: 80%;
      }
    .infomation{
        margin-left: 0.1%;
        width: 48%;
    }
    h4{
        font-size: 27px;
        margin-left: 5%;
        margin-top: 12%;
        margin-bottom: 4%;
    }
    h2{
      margin-left: 5%;
        margin-bottom: 4%;
        font-size: 35px;
        letter-spacing: normal;
    }
    p{
      margin-left: 5%;
        margin-bottom: 8%;
        text-align: justify;
    }
    .join{
      margin-left: 5%;
    }
    }
    .card2{
      .image img{
        width: 90%;
      }
      .infomation{
        margin-right: 5%;
     }
     h4{
      font-size: 27px;
      margin-top: 12%;
      margin-bottom: 4%;
  }
  h2{
      margin-bottom: 4%;
      font-size: 35px;
  }
  p{
      margin-bottom: 8%;
      text-align: justify;
  }
  .join{
    margin-bottom: 12%;
  }
    }
    .nav-bar-header {
        display: flex;
        .left-nav {
          @include display();
          width: 35%;
          padding: 11px;
          .logo-header {
            width: 80px;
            height: 70px;  
          }
          .title-name{
            font-weight: $font-weight;
            font-size: 27px;
            letter-spacing: 2px;
            font-family: "Audiowide", sans-serif;
          }
        }
        .right-nav{
          .fisrt {
            .text{
                margin-right: 150px;
            li {
              margin-right: 45px;
            }
            a{
              font-size: 15px;
            }
          }
        }
      }
    }
    .group-footer{
      width: 94%;
      .foot-img{
        opacity: 0;
      }
    }
  .content-about img{
      width: 41.3%;
      object-fit: cover;
  }
  .content-about{
      .icon-share{
        font-size: 18px;
        width: 90px;
      }
      .viewers{
        display: none;
      }
  }
  .mini-content img{
      width: 41.5%;
      height: 43.9%;
    object-fit: cover;
  }
   .mini-content1 img{
    object-fit: cover; 
    height: 43.9%;
    width: 87%;
}

 .mini-content2 img{
  object-fit: cover;
  height: 43.9%;
  border-radius: 8px;
  width: 87%;
}
  .mini-event-section{
    flex-wrap: wrap;
    display: flex;
    flex: 2;
  }
  .mini-content1{
    width: 60%;
    flex: 0.9;
    .group-of-icon{
      margin-left: 55%;
    }
  }
  .mini-content2{
    width: 60%;
    flex: 0.9;
    .group-of-icon{
      margin-left: 55%;
    }
  }
  .mini-content{
      width: 36.3%;
      border-radius: 8px;
      .icon-share{
          font-size: 18px;
          margin-left: 50%;
      }
  }
}
