.container-training{
    padding-top: 5%;
    padding-bottom: 5%;
}
.card{
    border: 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.card img{
    width: 100%;
    margin-left: 10%; 
    height: 60vh;
}
.card1{
    display: flex;
    h4{
        font-size: 34px;
        margin-left: 20%;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    h2{
        margin-bottom: 5%;
        margin-left: 20%;
        font-size: 37px;
    }
    p{
        margin-bottom: 10%;
        margin-left: 20%;
        font-style:20px;
    }
    .join{
        margin-left: 20%;
    }
}