@import "../components/variable";
.container-training{
    padding-top: 5%;
    padding-bottom: 5%;
}
.card1{
    border: 1px solid;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: $box-shadow;
}
.card1 img{
    width: 90%;
    margin-left: 13%; 
    height: 60vh;
    border-radius: 15px;
}
.card1{
    display: flex;
    color: $login-bg;
    .infomation{
        margin-left: 3%;
    }
    h4{
        font-size: 32px;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    h2{
        margin-bottom: 5%;
        margin-left: 10%;
        font-size: 45px;
        letter-spacing: 4px;
    }
    p{
        margin-bottom: 8%;
        margin-left: 10%;
        font-style:20px;
        color: $text-color;
    }
    .join{
        margin-left: 10%;
        border: none;
        background-color: $login-bg;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        border-radius: 10px;
    }
    .fa-arrow-right{
        border: 1px solid;
        padding: 5px;
        border-radius: 50%;
        color: $login-bg;
        background-color: white;
    }
}

.card2{
    border: 1px solid;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: $box-shadow;
    
}
.card2 img{
    width: 90%;
    height: 60vh;
    border-radius: 15px;
    margin-right: 15%;
}
.card2{
    
    display: flex;
    color: $login-bg;
    .infomation{
       margin-right: 10%;
        margin-left: 5%;
    }
    h4{
        font-size: 32px;
        
        margin-top: 5%;
        margin-bottom: 5%;
    }
    h2{
        margin-bottom: 5%;
        font-size: 45px;
        letter-spacing: 4px;
    }
    p{
        margin-bottom: 10%;
        font-style:20px;
        color: $text-color;
    }
    .join{
        border: none;
        background-color: $login-bg;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        border-radius: 10px;
    }
    .fa-arrow-right{
        font-weight: bold;
        padding: 5px;
        border-radius: 50%;
        color: $login-bg;
        background-color: white;
    }

}