.background-foot{
    position:absolute;
    width: 100%;
    min-height: 240px;
    background-image: url(../../images/contact-image/rady.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
}
@import "../components/mixin";
footer{
    @include display();
    padding: 20px;
    background: #cccc;
    min-height: 200px;   
}
.foot-img img{
    width: 55%;
    margin-left: 100px;
    padding: 10px; 
}
.about ul li{
    list-style-type: none;
    color: #000;
    margin-bottom: 7px;
    font-size: 14px;
}
.about ul li:hover{
    cursor: pointer;
    color: rgb(0, 0, 104);
}
.contact-us li:hover{
    text-decoration: underline;
}
.title p{
    font-size: 20px;
    margin-bottom: 17px;
}