.footer-mobile{
    background: rgb(98,199,255);
background: linear-gradient(90deg, rgba(98,199,255,1) 0%, rgba(0,34,163,1) 59%);
    padding: 15px;
    .copy-sign{
        text-align: center;
        padding: 15px;
    }
    .foot-group-icon{
        text-align: center;
        font-size: 30px;
        .fa-google-plus ,.fa-facebook, .fa-youtube,.fa-square-x-twitter{
            padding: 10px;
        } 
    }
}