@import"../components/mixin";
@import"../components/variable";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Righteous&family=Vast+Shadow&display=swap');
.nav-bar-header {
  display: flex;
  .left-nav {
    @include display();
    color: #fff;
    background: #113B89;
    width: 40%;
    padding: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    position: absolute;  
    .logo-header {
      width: 70px;
      height: 60px;
      margin-right: 20px;
    }
    .h1 {
      color: #fff;
      padding: 20px;  
    }
    .title-name{
      font-weight:$font-weight;
      font-family: "Audiowide", sans-serif;
      font-size: 32px;
      text-shadow: 0 5px 5px #000;     
    }
  }
  .right-nav{
    width: 100%;
    .fisrt {
      height:20px;
      display: flex;
      justify-content: right;
      background: #00205A;
      color: #ffff;
      padding: 20px;
      .text{
          margin-right: 180px;
          font-size: 17px;
          align-items: center;
          cursor: pointer;
          display: flex;
          gap: 1rem;
          font-style: italic;
          .fa-brands{
              font-size: 30px;
          }
          .fa-brands:hover{
              color:skyblue;
        }
    
      }

    }

    ul {
      display: flex;
      justify-content: right;
      background: #474747; 
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      .active-link{
          background-color:#fff;
          color: darkblue;
          padding: 10px;
          text-shadow: 2px 0 3px gray;
      }
      li {
        padding: 10px;
        list-style-type: none;
        margin-right: 50px;
        .fa-magnifying-glass{
          background-color: rgb(49, 49, 224);
          position: absolute;
          font-size: 30px;
          margin-top: -10px;
          padding: 5px;
          margin-left: -25px;
    }
      }
      a{
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
        font-size: 17px;
      }

    }
  }
}
