nav .mobile {
    display: flex;
    align-items: center;
    background: #18283B;
}
ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    transition: all 0.3s ease;
}
#icon {
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
#icon svg {
    margin-top: 40%;
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}
#checkbox,
#icon {
    display: none;
}
