$bg-left:#E0EBFF;
$bg-right:#9FC1FF;
$login-bg:#5084E4;
$icon-bg:#DFEAFF;
$text-color:#001E56;
<<<<<<< HEAD
=======
$text-color-white:#fff;
$text-color-header-home:#FFC107;
$text-color-container-home:#174395;
$font-weight:bold;
>>>>>>> 1611e7b5d1cb037f4a1440882e1d764f1c8540df
$box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
$font-weight:bold;
$flex:2;
$border-size: 20px;
$border-none:0px;
$margin: 0 auto;